body{
    background-color: #eefde8;
}

header{
    font-size: 45px;
    text-align: center;
    color: #74226C;
}

h2{
    font-size: 35px;
    text-align: center;
    color: #428A5B;

}


.clockContainer{ /* smalled sized/mobile screen */
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 1%;
    border: 1px solid #000 ;
    border-radius: 8px;
    background-color: #5AAF78;
}

.currentTimeText, .currentDateText{
    height: 40px;
    font-size: 30px;
    text-align: center;

    background-color: #fff;
    color: black;
    border: 1px solid #ebebeb;
    border-radius: 8px;
}



/* ------------RESPONSIVE DESIGN---------------- */
* { 
    box-sizing: border-box;
  }
  
  
  .row:after {
    content: "";
    clear: both;
    display: block;}
  
  
  
  @media only screen and (min-width: 700px) { /* medium sized screen */
    /* For desktop: */
    
    header{
    font-size: 50px;
    }

    h2{
      font-size: 40px;
    }

    .currentTimeText, .currentDateText{
      height: 70px;
      font-size: 50px;
    }

    .clockContainer{
      width: 60%;
    }



    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 24%;}
    .col-m-4 {width: 32.5%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
  }

  @media only screen and (min-width: 1000px) { /* large sized screen */
    header{
      font-size: 70px;
      }
  
      h2{
        font-size: 60px;
      }
  
      .currentTimeText, .currentDateText{
        height: 90px;
        font-size: 70px;
      }

    .clockContainer{
      width: 75%;
    }
  }