body{
    background-color: #ccc;
}

header{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 60px;
}


.currentTimeClock{
    width: 75%;
    height: 100%;
    margin: 0 12%;
    padding: 1%;
    border: 1px solid #aaa ;
    border-radius: 8px;
    background-color: #aaa;
}

.currentTimeText, .currentDateText{
    height: 70px;
    font-size: 50px;

    background-color: #fff;
    color: black;
    border: 1px solid #ebebeb;
    border-radius: 8px;
}



/* ------------RESPONSIVE DESIGN---------------- */
* { 
    box-sizing: border-box;
  }
  
  
  .row:after {
    content: "";
    clear: both;
    display: block;}
  
  /* Mobile first */
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 32%;
  }
  
  
  @media only screen and (min-width: 700px) {
    /* For desktop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 24%;}
    .col-m-4 {width: 32.5%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
  }